<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img [routerLink]="['/auth/login']" src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">        
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome to Register User</div>
                    <span class="text-600 font-medium">Select one of the Options</span>
                </div>

                <div class="flex justify-content-center gap-5 mb-5">
                    <!-- Card for Developer -->
                    <p-card class="cursor-pointer" (click)="selectUserType('developer')" [ngClass]="{'selected-card': userType === 'developer'}">
                        <div class="flex flex-column align-items-center pd-all">
                            <i class="pi pi-user text-6xl mb-3"></i>
                            <span class="text-900 text-xl font-medium">Developer</span>
                        </div>
                    </p-card>

                    <!-- Card for Company -->
                    <p-card class="cursor-pointer" (click)="selectUserType('company')" [ngClass]="{'selected-card': userType === 'company'}">
                        <div class="flex flex-column align-items-center pd-all">
                            <i class="pi pi-building text-6xl mb-3"></i>
                            <span class="text-900 text-xl font-medium">Company</span>
                        </div>
                    </p-card>
                </div>

                <!-- Developer Form -->
                <div *ngIf="userType === 'developer'">
                    <form [formGroup]="developerForm" (ngSubmit)="onSubmitDeveloper()">
                    <!-- Developer Name -->
                    <div class="field">
                        <label for="name" class="block text-900 font-medium mb-2 mt-3">Developer Name</label>
                        <input id="name" type="text" pInputText class="w-full" formControlName="name" [ngClass]="{ 'is-invalid': submitted && developerForm.get('name')?.errors }">
                        <div *ngIf="submitted && developerForm.get('name')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="developerForm.get('name')?.errors?.['required']">Developer Name is required</div>
                        </div>
                    </div>
                
                    <!-- Email -->
                    <div class="field">
                        <label for="email" class="block text-900 font-medium mb-2 mt-3">Email</label>
                        <input id="email" type="email" pInputText class="w-full" formControlName="email" [ngClass]="{ 'is-invalid': submitted && developerForm.get('email')?.errors }">
                        <div *ngIf="submitted && developerForm.get('email')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="developerForm.get('email')?.errors?.['required']">Email is required</div>
                        <div *ngIf="developerForm.get('email')?.errors?.['email']">Invalid email format</div>
                        </div>
                    </div>
                
                    <!-- Password -->
                    <div class="field">
                        <label for="password" class="block text-900 font-medium mb-2 mt-3">Password</label>
                        <input id="password" type="password" pInputText class="w-full" formControlName="password" [ngClass]="{ 'is-invalid': submitted && developerForm.get('password')?.errors }">
                        <div *ngIf="submitted && developerForm.get('password')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="developerForm.get('password')?.errors?.['required']">Password is required</div>
                        <div *ngIf="developerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>

                    <!-- Adress -->
                    <div class="field">
                        <label for="address" class="block text-900 font-medium mb-2 mt-3">Address</label>
                        <input id="address" type="text" pInputText class="w-full" formControlName="address" [ngClass]="{ 'is-invalid': submitted && developerForm.get('address')?.errors }">
                        <div *ngIf="submitted && developerForm.get('address')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="developerForm.get('address')?.errors?.['required']">Developer Name is required</div>
                        </div>
                    </div>

                    <!-- Phone -->
                    <div class="field">
                        <label for="phone" class="block text-900 font-medium mb-2 mt-3">Phone</label>
                        <input id="phone" type="text" pInputText class="w-full" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && developerForm.get('phone')?.errors }">
                        <div *ngIf="submitted && developerForm.get('phone')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="developerForm.get('phone')?.errors?.['required']">Developer Name is required</div>
                        </div>
                    </div>

                                    
                    <!-- Image of Profile -->
<!--                     <div class="field">
                        <label for="image" class="block text-900 font-medium mb-2 mt-3">Image of Profile</label>
                        <input id="image" type="file" accept="image/*" (change)="onFileSelectProfilePhoto($event)" class="w-full" [ngClass]="{ 'is-invalid': submitted && developerForm.get('image')?.errors }">
                        <div *ngIf="submitted && developerForm.get('image')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="developerForm.get('image')?.errors?.['required']">Profile image is required</div>
                        </div>
                    </div> -->
                
                    <!-- Submit Button -->
                    <button pButton type="submit" label="Register as Developer" class="w-full mt-3"></button>
                    </form>
                </div>
                
                <!-- Company Form -->
                <div *ngIf="userType === 'company'">
                    <form [formGroup]="companyForm" (ngSubmit)="onSubmitCompany()">
                    <!-- User Name -->
                    <div class="field">
                        <label for="companyUserName" class="block text-900 font-medium mb-2 mt-3">User Name</label>
                        <input id="companyUserName" type="text" pInputText class="w-full" formControlName="companyUserName" [ngClass]="{ 'is-invalid': submitted && companyForm.get('companyUserName')?.errors }">
                        <div *ngIf="submitted && companyForm.get('companyUserName')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="companyForm.get('companyUserName')?.errors?.['required']">User Name is required</div>
                        </div>
                    </div>
                
                    <!-- Company Name -->
                    <div class="field">
                        <label for="companyName" class="block text-900 font-medium mb-2 mt-3">Company Name</label>
                        <input id="companyName" type="text" pInputText class="w-full" formControlName="companyName" [ngClass]="{ 'is-invalid': submitted && companyForm.get('companyName')?.errors }">
                        <div *ngIf="submitted && companyForm.get('companyName')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="companyForm.get('companyName')?.errors?.['required']">Company Name is required</div>
                        </div>
                    </div>
                
                    <!-- Email -->
                    <div class="field">
                        <label for="companyEmail" class="block text-900 font-medium mb-2 mt-3">Email</label>
                        <input id="companyEmail" type="email" pInputText class="w-full" formControlName="companyEmail" [ngClass]="{ 'is-invalid': submitted && companyForm.get('companyEmail')?.errors }">
                        <div *ngIf="submitted && companyForm.get('companyEmail')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="companyForm.get('companyEmail')?.errors?.['required']">Email is required</div>
                        <div *ngIf="companyForm.get('companyEmail')?.errors?.['email']">Invalid email format</div>
                        </div>
                    </div>
                
                    <!-- Password -->
                    <div class="field">
                        <label for="companyPassword" class="block text-900 font-medium mb-2 mt-3">Password</label>
                        <input id="companyPassword" type="password" pInputText class="w-full" formControlName="companyPassword" [ngClass]="{ 'is-invalid': submitted && companyForm.get('companyPassword')?.errors }">
                        <div *ngIf="submitted && companyForm.get('companyPassword')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="companyForm.get('companyPassword')?.errors?.['required']">Password is required</div>
                        <div *ngIf="companyForm.get('companyPassword')?.errors?.['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>
                
                    <!-- Image of Profile User -->
                    <div class="field">
                        <label for="companyImage" class="block text-900 font-medium mb-2 mt-3">Image of profile User</label>
                        <input id="companyImage" type="file" accept="image/*" (change)="onFileSelectProfilePhotoCompany($event)" class="w-full" [ngClass]="{ 'is-invalid': submitted && companyForm.get('companyImage')?.errors }">
                        <div *ngIf="submitted && companyForm.get('companyImage')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="companyForm.get('companyImage')?.errors?.['required']">Profile image is required</div>
                        </div>
                    </div>
                
                    <!-- Logo of Company -->
                    <div class="field">
                        <label for="companyLogo" class="block text-900 font-medium mb-2 mt-3">Logo of Company</label>
                        <input id="companyLogo" type="file" accept="image/*" (change)="onFileSelectProfilePhotoLogo($event)" class="w-full" [ngClass]="{ 'is-invalid': submitted && companyForm.get('companyLogo')?.errors }">
                        <div *ngIf="submitted && companyForm.get('companyLogo')?.errors" class="invalid-feedback mt-1">
                        <div *ngIf="companyForm.get('companyLogo')?.errors?.['required']">Company logo is required</div>
                        </div>
                    </div>
                
                    <!-- Submit Button -->
                    <button pButton type="submit" label="Register as Company" class="w-full mt-3"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>