<div class="surface-0 flex justify-content-center">
    <div id="contact" class="landing-wrapper overflow-hidden">
        
        <app-view-header></app-view-header>

        <!-- Contact Section -->
        <div id="contact-section" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
            <div class="text-center">
                <h2 class="text-900 font-normal mb-2">Guía del usuario</h2>
                <!--<span class="text-600 text-2xl">We are here to help you. Write to us!</span>-->
            </div>

            <div class="grid mt-8">
                
            </div>
        </div>

        <app-view-footer></app-view-footer>
        
    </div>
</div>